ENVIRONMENT=dev
PORT=3050
CORS_ORIGIN=http://localhost:5173

DB_HOST=HOST
DB_PORT=3306
DB_USER=USER
DB_PASSWORD=PASSWORD
DB_NAME=DATABASE
DB_CONNECTION_LIMIT=2
DB_CONNECT_TIMEOUT=10000
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true
